body {
	margin: 0;
	font-family: 'Roboto', sans-serif;
}

/*  ---------------- INDEX ---------------- */

main#main-container {
	margin-top: 10vh;
	left: 10%;
}

.logo-inicio {
	width: 15%;
}

select {
	border: 1px, gray;
	border-radius: 5px;
	font-size: 20px;
	height: 50px;
	padding-left: 15px;
	width: 35%;
}

option {
	color: #ffe521;
}

.entrar {
	border: none;
	border-radius: 5px;
	display: block;
	cursor: pointer;
	margin-top: 10vh;
	padding: 1% 3%;
}

.entrar:hover {
	background-color: #ffe521;
}

/*  ---------------- OVERVIEW ---------------- */

header {
	background-color: #f7f7f7;
	height: 5em;
	position: fixed;
	display: inline-flex;
	width: 100%;
	z-index: 100;
	
}

aside {
	border-right: 2px #dedede solid;
	width: 15%;
	height: 1200px;
	position: fixed;
	display: inline-block;
	box-sizing: border-box;
	padding-left: 3em;
	top: 6.5em;
}

nav {
	display: inline-block;
	width: 65%;
	position: relative;
	padding-left: 0em;
}

nav div {
	display: inline-block;
	padding: 1.6em;
	cursor: pointer;
}

nav div:hover{
	background-color: #ececec;
	border-bottom: 5px solid #ffe521;
}


input[type='radio']:after {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    top: -2px;
    left: -1px;
    position: relative;
    background-color: #d1d3d1;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid white;
}

input[type='radio']:checked:after {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    top: -2px;
    left: -1px;
    position: relative;
    background-color: #ffa500;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid white;
}

nav div {
	display: inline-block;
	padding: 1.3em;
	cursor: pointer;
}

nav div:hover{
	background-color: #ececec;
	border-bottom: 5px solid #ffe521;
}

.activo {
	background-color: #ececec;
	border-bottom: 5px solid #ffe521;
}

input.in[type='radio']:after {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    top: -2px;
    left: -1px;
    position: relative;
    background-color: #d1d3d1;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid white;
}

input.in[type='radio']:checked:after {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    top: -2px;
    left: -1px;
    position: relative;
    background-color: #ffa500;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid white;
}

div#logo {
	display: inline-block;
	padding-top: 0.3em;
	text-align: center;
	width: 15%;
}

a#logo img {
	width: 75%;
}

a {
	text-decoration: none;
	color: gray;
	font-size: 1.2em;
	position: relative;
	height: auto;

}


select#sede-overview {
    margin: 1.4em 0;
    width: 15%;
    font-size: 1em;
    height: 2em;
}


p {
    width: 71%;
    display: inline-block;
    margin: 0.5em;
	margin-left: 1em;
	text-align: center;
}

/*  ---------------- MAIN ---------------- */
main {
	display: inline-block;
	width: 80%;
	position: relative;
	left: 16%;
	margin-top: 2%;
	top: 3em;

}

#main h2{
	border-bottom: 1px solid grey;
}


div#status-estudiantes {
	width: auto;
	display: inline-flex;
}

main section div.two-col {
	width: 100%;
	display: inline-block;
	box-sizing: border-box;
	padding: 2em;
}

div.three-col {
	width: 33%;
	display: inline-block;
	box-sizing: border-box;
	
}

#tech, #hse{
	border-left: 2px solid gainsboro;
}
 
main section#third-section div{
	width: 33%;
	display: inline-block;
	box-sizing: border-box;
	padding: 2em;
}

main section div > div#teachers-var{
	width: 49%;
	display: inline-block;
	border-right: none;
	border-bottom: none;
	box-sizing: border-box;
	padding: 2em;
}

main section div > div p{
	font-size: 5em;
}

.cont1 {
	text-decoration-line: underline;
	text-decoration-color: #ffa500;
}

#activas-var .cont, #inactivas-var .cont{
	left: 10%;
	position: relative;
	text-decoration-line: none;
}

main section div > div#jedis-var{
	width: 49%;
	display: inline-block;
	border-right: none;
	border-bottom: none;
	box-sizing: border-box;
	padding: 2em;
}

.btnInac {
	margin-top: 3em;
	margin-left: 2em;
	text-align: left;
}


/*---------------MODAL-------------------*/

.modal {
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        opacity: 0;
        visibility: hidden;
        transform: scale(1.1);
        transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
    }
    .modal-content {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: white;
        padding: 1rem 1.5rem;
        width: 50rem;
        border-radius: 0.5rem;
    }
    .close-button {
        float: right;
        width: 1.5rem;
        line-height: 1.5rem;
        text-align: center;
        cursor: pointer;
        border-radius: 0.25rem;
        background-color: lightgray;
    }
    .close-button:hover {
        background-color: darkgray;
    }
    .show-modal {
        opacity: 1;
        visibility: visible;
        transform: scale(1.0);
        transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
    }

    div#contentParent {
		overflow: scroll;
    	height: 85vh;
	}

	p.p-modal {
	    font-size: 1.5em;
	    width: 50%;
	}
	
	img.img-modal {
	    width: 10%;
	}

/*---------------STUDENTS-------------------*/

.students {
	display: inline-block;
}

.searchf {
	display: inline-block;
	padding-top: 0;
	position: relative;
	margin-top: 0;
	left: 30%;
}

.searchf i {
	position: absolute;
	left: 0;
	top: 6px;
	padding: 2px 5px 0;
	color: #aaa;
}

.searchf input[type=text] {
	padding-left: 40px;
}

input[type=text] {
	border: 2px solid #aaa;
	border-radius: 4px;
	box-sizing: border-box;
	outline: none;
	padding: 8px;
	transition: .3s;
}

input[type=text]:focus {
	color: #ffe521;
}

input[type=text]:focus + i {
	color: #ffe521;
}


a#btnInactive {
	text-decoration: underline;
	cursor: pointer;
	color: #ffa500;
}

main section div > div p.cont {
	font-size: 2em;
}

.infostd{
	border: 1px solid #aaa;
	margin: 10px;
}
.uno {
	display: block;
	padding: 0%;
	width: 100%;
	border-bottom: 1px solid #aaa;
}

.data img{
	height: 100px;
	width: 80px;
	text-align: center;
}

.data {
	border: none;
	display: inline-block;
	font-size: 1em;
	padding: 20px;
	text-align: center;
	width: 28%;
}

.data .totalsprint {
	font-size: 2em;
	font-weight: 500;
	margin: 0;
	position: relative;
	right: 0%;
	text-align: right;
	width: 100%;
	
}

.data p {
	display: block;
	font-size: 1em;
	margin: 0;
	padding: 10px;
	text-align: right;
	width: fit-content;
}

.data h4{
	text-align: right;
}

.sprint {
	border: none;
	padding: 10px;
	width: 23%;
	display: inline-block;
}

.std {
	display: block;
	text-align: center;
}

.sprint h5 {
	margin: 0;
}
